<!-- header.ejs - Common <head> and opening <body> section for all views -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlackBox</title>

  <!-- Favicon -->
  <link rel="icon" href="https://img.icons8.com/ios-filled/500/blackbox.png" type="image/png">

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">

  <!-- Bootstrap 4 CSS for layout and styling -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

  <!-- Bootstrap-social for styled social login buttons -->
  <link rel="stylesheet" href="css/bootstrap-social.css">

  <!-- Custom styles -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="d-flex flex-column min-vh-100"> <!-- Flex wrapper starts here -->
  <main class="flex-fill">